*{
    color: var(--text-color);
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoj!important;
}

label.required::after{
    content: " *";
    color: red;
}

button{
    background-color: var(--primary-blue);
    width: 300px;
    margin-top: 50px;
}

.bold{
    font-weight: 500;
}

footer{
    background-color: var(--background-gray);
    padding: 50px;
}

.result-container{
    background-color: var(--background-gray);
    padding: 10px;
    border-radius: 10px;
}

.user-select-none {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

.landing-container{
    height: 30dvh;
    background-color: var(--background-gray);

    h1{
        font-weight: 600;
        line-height: 1.375;
    }

    h3{
        text-align: center;
        font-weight: 400;
        line-height: 1.375;
        margin-top: 20px;
        font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    button{
        background-color: var(--primary-blue);
        width: 300px;
        margin-top: 10px;
    }
}

.form-container{
    padding-top: 100px;
    padding-bottom: 100px;

    form{
        width: 50%;
        padding: 20px 20px;
        border: 1px solid #DDDDDD;
        border-radius: 10px;
    }

    .buttons-container{
        min-width: 100%;
    }
}

.text-secondary{
    color: rgb(64 71 86)
}

@media screen and (max-width: 850px) {
    .form-container{
        form{
            width:calc(100% - 5px);
            padding: 20px 20px;
        }
    }
}